* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  background: slategray;
  color:white;
}
h2,pre{
    font-size: 2rem;
    color:white;
}
p{
    color:red;
    font-size: 3rem;
}